<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>RipOff!</title>
		<link rel="stylesheet" type="text/css" href="/css/dropzone.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		 <button id="dropzoneButton" type="submit">Upload Photos</button>
      <div id="dropzoneID" style="width:100%; height: 200px"></div>
    <div>
		{{{ body }}}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/dropzone.js"></script> 
		<script>
    $(document).on("click", "#dropzoneButton", function(){
      $('#dropzoneButton').remove();
      $("#dropzoneID").addClass("dropzone").dropzone({ 
        url: "/upload", 
        maxFilesize: 6, 
        maxFiles: 10,
        capture: "camera",
         addRemoveLinks: true,
        dictDefaultMessage: "DROP FILES TO BE UPLOADED HERE"
      });
    });
     </script>
	</body>
</html>