

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">User's post"</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Vizio Smart TV 50"</div>
                </div>
            </div>
             <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">User Post</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Jake's DJ hardware</div>
                </div>
            </div> 
            <!-- <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading">User Post</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Whats selling</div>
                </div>
            </div> -->
        </div>
    </div><br>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">User's Post</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Iphone 6 black $250</div>
                </div>
            </div>




            <!-- <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">User Post</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">What's selling</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">User Post</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">What's selling</div>
                </div>
            </div> -->
        </div>
    </div><br><br>

   

